body {
	height: 300vh;
	margin: 0;
	padding-top: 16em;
	background-color: #EEF9FF;
	overflow-x: hidden;
}

main {
	transform: translateX(10px);
}

.line-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;
	z-index: -500;
}

svg {
	display: inline-block;
	height: 100%;
	width: 100%;
}

.st0 {
	fill: #846c52;
}
.st1 {
	fill: #efab64;
}
.st2 {
	fill: #b8a8b2;
}
.st3 {
	fill: #c1b3aa;
}
.st4 {
	fill: #eccbbc;
}
.st5 {
	fill: none;
	stroke: #422711;
	stroke-width: 0.75;
	stroke-miterlimit: 10;
}
.st6 {
	fill: #826f64;
}

div.text-container {
	width: 100%;
	height: 100vh;
}

section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	justify-content: center;
	margin: 0 0 0 25%;
	height: 100vh;
	width: 20em;
}